<section
  class="section bg-home home-half"
  id="home"
  data-image-src="assets/images/bg-home.jpg"
>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-white text-center">
        <h4 class="home-small-title">Ready-Mix Announcement</h4>
        <h1 class="home-title">New Website!</h1>
        <p class="padding-t-15 home-desc mx-auto">
          We are working to create a brand new website for Icon-Concrete.
        </p>
      </div>
    </div>
  </div>
</section>

<!--<app-client></app-client>-->
<!--<app-feature></app-feature>-->
<app-services></app-services>
<!--<app-description></app-description>-->
<!--<app-about></app-about>-->
<!--<app-pricing></app-pricing>-->
<!--<app-testi></app-testi>-->
<!--<app-getstart></app-getstart>-->
<!--<app-blog></app-blog>-->
<app-contact></app-contact>
